@import "vendors/reset";

@import "global/layout";

@import "vendors/end.scss";

.header {
  display: flex;
  flex-direction: row;
}

.container {
  height: 30px;
  width: 150px;
  background-color: wheat;
  left: 30px;
}

.health {
  height: 30px;
  width: 150px;
  background-color: red;
  position: absolute;
}

.character {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: red;
}

.jump {
  animation: jump 1.5s;
}

.ennemy {
  position: absolute;
  background-color: green;
  width: 80px;
  height: 80px;
}

.item {
  width: 20px;
  height: 20px;
  background-color: blue;
}

.obj {
  width: 20px;
  height: 20px;
  background-color: yellow;
}

.score {
  margin-left: 200px;
}

.score_txt {
  font-size: 30px;
}

.obj_gauge {
  width: 10px;
  height: 30px;
  background-color: yellow;
}

@keyframes jump {
  0% {
    top: 0px;
  }
  50% {
    top: -300px;
  }
  100% {
    top: 0px;
  }
}

@keyframes dgt {
  to {
    width: 150px;
  }

  from {
    width: 100px;
  }
}
